
.user {
  display: flex;
  align-items: center;
  position: relative;
}

.logo__arrow {
  cursor: pointer;
  margin-left: 6.5px;
}

.logo__arrow--up {
  cursor: pointer;
  margin-left: 6.5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.user-wrapper {
  display: none;
}

.user-wrapper--show {
  position: absolute;
  left: -77px;
  top: 47px;
  z-index: 100;
}

.rum {
  width: 11px;
  height: 11px;
  margin-left: 90px;
  margin-bottom: -5px;
  background-color: #FFF;
  transform: rotate(45deg);
  /* z-index: -1; */
}

.user-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 134px;
  height: 60px;
  background-color: #FFF;
  border-radius: 5px;
  z-index: 101;
}

.user-menu__text {
  display: block;
  padding: 3px 7px;
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.user-menu__text:hover {
  background-color: #DEDEDE;
}
