
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1235px; */
  min-height: 55px;
  background-color: #0067A3;
  padding-left: 20px;
  padding-right: 22px;
  box-sizing: border-box;
}

.header__text {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  line-height: 33px;
  color: #FFF;
}
